{"openapi":"3.1.0","info":{"title":"Dev Kit for AI API","description":"API for Dev Kit for AI: Developer Toolkit for AI-Powered Web Applications","version":"1.6.1"},"servers":[{"url":"https://api.devkit4ai.com","description":"Dev Kit for AI Production Server"},{"url":"https://api.vibecoding.ad","description":"Vibe Coding Production Server"}],"paths":{"/api/v1/health":{"get":{"tags":["Health Check API"],"summary":"Health Check","description":"Comprehensive health check for all system components","operationId":"health_check_api_v1_health_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthCheckResponse"}}}}}}},"/api/v1/health/database":{"get":{"tags":["Health Check API"],"summary":"Database Health Check","description":"Detailed health check for database connectivity","operationId":"database_health_check_api_v1_health_database_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseHealthResponse"}}}}}}},"/api/v1/health/storage":{"get":{"tags":["Health Check API"],"summary":"Storage Health Check","description":"Detailed health check for file storage system","operationId":"storage_health_check_api_v1_health_storage_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StorageHealthResponse"}}}}}}},"/api/v1/health/redis":{"get":{"tags":["Health Check API"],"summary":"Redis Health Check","description":"Detailed health check for Redis PubSub system","operationId":"redis_health_check_api_v1_health_redis_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RedisHealthResponse"}}}}}}},"/api/v1/health/detailed":{"get":{"tags":["Health Check API"],"summary":"Detailed Health Check","description":"Detailed health check with additional system information","operationId":"detailed_health_check_api_v1_health_detailed_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedHealthCheckResponse"}}}}}}},"/api/v1/auth/register":{"post":{"tags":["Authentication"],"summary":"Register","operationId":"register_api_v1_auth_register_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCreateRequest"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistrationResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/auth/login":{"post":{"tags":["Authentication"],"summary":"Login","operationId":"login_api_v1_auth_login_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserLoginRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/auth/me":{"get":{"tags":["Authentication"],"summary":"Read Users Me","operationId":"read_users_me_api_v1_auth_me_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/auth/refresh":{"post":{"tags":["Authentication"],"summary":"Refresh Token","operationId":"refresh_token_api_v1_auth_refresh_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/auth/verify-email":{"post":{"tags":["Authentication"],"summary":"Verify Email","operationId":"verify_email_api_v1_auth_verify_email_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyEmailRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/auth/request-verification":{"post":{"tags":["Authentication"],"summary":"Request Verification","operationId":"request_verification_api_v1_auth_request_verification_post","parameters":[{"name":"user_id","in":"query","required":true,"schema":{"type":"string","format":"uuid","title":"User Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/auth/developer-keys":{"get":{"tags":["Authentication"],"summary":"List Developer Keys","description":"List all developer keys for the current developer user.","operationId":"list_developer_keys_api_v1_auth_developer_keys_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/DeveloperKeyResponse"},"type":"array","title":"Response List Developer Keys Api V1 Auth Developer Keys Get"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Authentication"],"summary":"Create Developer Key","description":"Create a new developer key for the current developer user.\n\nMaximum of 10 active developer keys per developer.","operationId":"create_developer_key_api_v1_auth_developer_keys_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeveloperKeyCreateRequest"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeveloperKeyCreatedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/auth/developer-keys/{key_id}":{"delete":{"tags":["Authentication"],"summary":"Revoke Developer Key","description":"Revoke a developer key.","operationId":"revoke_developer_key_api_v1_auth_developer_keys__key_id__delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"key_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Key Id"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/projects/":{"get":{"tags":["Project Management"],"summary":"List Projects","description":"List all projects for the current user","operationId":"list_projects_api_v1_projects__get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/ProjectResponse"},"type":"array","title":"Response List Projects Api V1 Projects  Get"}}}}},"security":[{"OAuth2PasswordBearer":[]}]},"post":{"tags":["Project Management"],"summary":"Create Project","description":"Create a new project for the current user","operationId":"create_project_api_v1_projects__post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectCreateRequest"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectCreatedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/projects/stats":{"get":{"tags":["Project Management"],"summary":"Get Global Stats","description":"Get global statistics for all developer's projects with optional filtering","operationId":"get_global_stats_api_v1_projects_stats_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Search"}},{"name":"is_active","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Active"}},{"name":"project_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Project Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GlobalStatsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/projects/users":{"get":{"tags":["Project Management"],"summary":"List All Users","description":"List all end users across all developer's projects with search and filtering","operationId":"list_all_users_api_v1_projects_users_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":50,"title":"Page Size"}},{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Search"}},{"name":"is_active","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Active"}},{"name":"project_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Project Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeveloperUsersListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/projects/{project_id}":{"get":{"tags":["Project Management"],"summary":"Get Project","description":"Get details of a specific project","operationId":"get_project_api_v1_projects__project_id__get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Project Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Project Management"],"summary":"Update Project","description":"Update project details","operationId":"update_project_api_v1_projects__project_id__put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Project Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Project Management"],"summary":"Delete Project","description":"Delete a project","operationId":"delete_project_api_v1_projects__project_id__delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Project Id"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/projects/{project_id}/stats":{"get":{"tags":["Project Management"],"summary":"Get Project Stats","description":"Get statistics for a specific project with optional filtering","operationId":"get_project_stats_api_v1_projects__project_id__stats_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Project Id"}},{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Search"}},{"name":"is_active","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Active"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectStatsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/projects/{project_id}/api-keys":{"post":{"tags":["Project Management"],"summary":"Create Api Key","description":"Create a new API key for a project. Requires project ownership.","operationId":"create_api_key_api_v1_projects__project_id__api_keys_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Project Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyCreateRequest"}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiKeyCreatedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"tags":["Project Management"],"summary":"List Api Keys","description":"List all API keys for a project","operationId":"list_api_keys_api_v1_projects__project_id__api_keys_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Project Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ApiKeyResponse"},"title":"Response List Api Keys Api V1 Projects  Project Id  Api Keys Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/projects/{project_id}/api-keys/{api_key_id}":{"delete":{"tags":["Project Management"],"summary":"Revoke Api Key","description":"Revoke an API key","operationId":"revoke_api_key_api_v1_projects__project_id__api_keys__api_key_id__delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Project Id"}},{"name":"api_key_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Api Key Id"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/projects/{project_id}/users":{"get":{"tags":["Project Management"],"summary":"List Project Users","description":"List end users for a project with search and filtering","operationId":"list_project_users_api_v1_projects__project_id__users_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Project Id"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":50,"title":"Page Size"}},{"name":"search","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Search"}},{"name":"is_active","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Active"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectUsersListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/generation/generate-v2":{"post":{"tags":["AI Generation API"],"summary":"Create Generation V2","operationId":"create_generation_v2_api_v1_generation_generate_v2_post","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_create_generation_v2_api_v1_generation_generate_v2_post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerationCreateResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/api/v1/generation/generations-v2/{generation_id}/status":{"get":{"tags":["AI Generation API"],"summary":"Get Generation Status V2","operationId":"get_generation_status_v2_api_v1_generation_generations_v2__generation_id__status_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"generation_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Generation Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerationStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/generation/generations-v2":{"get":{"tags":["AI Generation API"],"summary":"Get User Generations V2","operationId":"get_user_generations_v2_api_v1_generation_generations_v2_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Per Page"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerationListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/generation/generations-v2/{generation_id}/public":{"patch":{"tags":["AI Generation API"],"summary":"Toggle Generation Public V2","operationId":"toggle_generation_public_v2_api_v1_generation_generations_v2__generation_id__public_patch","security":[{"HTTPBearer":[]}],"parameters":[{"name":"generation_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Generation Id"}}],"requestBody":{"required":true,"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/Body_toggle_generation_public_v2_api_v1_generation_generations_v2__generation_id__public_patch"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/generation/generations-v2/{generation_id}":{"delete":{"tags":["AI Generation API"],"summary":"Delete Generation V2","operationId":"delete_generation_v2_api_v1_generation_generations_v2__generation_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"generation_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Generation Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/generation/public-generations-v2":{"get":{"tags":["AI Generation API"],"summary":"Get Public Generations V2","operationId":"get_public_generations_v2_api_v1_generation_public_generations_v2_get","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"per_page","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":20,"title":"Per Page"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerationListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/generation/generate-anonymous-v2":{"post":{"tags":["AI Generation API"],"summary":"Create Anonymous Generation V2","operationId":"create_anonymous_generation_v2_api_v1_generation_generate_anonymous_v2_post","requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_create_anonymous_generation_v2_api_v1_generation_generate_anonymous_v2_post"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerationCreateResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/generation/anonymous-generations-v2/{generation_id}/status":{"get":{"tags":["AI Generation API"],"summary":"Get Anonymous Generation Status V2","operationId":"get_anonymous_generation_status_v2_api_v1_generation_anonymous_generations_v2__generation_id__status_get","parameters":[{"name":"generation_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Generation Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerationStatusResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/stripe/projects/{project_id}/config":{"get":{"tags":["Stripe Configuration"],"summary":"Get Stripe Configuration","description":"Retrieve the Stripe payment configuration for a project including masked credential information.","operationId":"get_stripe_config_api_v1_payments_stripe_projects__project_id__config_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Project Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/StripeConfigResponse"},{"type":"null"}],"title":"Response Get Stripe Config Api V1 Payments Stripe Projects  Project Id  Config Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"put":{"tags":["Stripe Configuration"],"summary":"Update Stripe Configuration","description":"Create or update Stripe payment configuration for a project. Supports both test and live credentials.","operationId":"update_stripe_config_api_v1_payments_stripe_projects__project_id__config_put","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Project Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StripeConfigRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StripeConfigResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"tags":["Stripe Configuration"],"summary":"Delete Stripe Configuration","description":"Deactivate Stripe payment configuration for a project. This does not delete existing subscriptions.","operationId":"delete_stripe_config_api_v1_payments_stripe_projects__project_id__config_delete","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Project Id"}}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/stripe/projects/{project_id}/webhook-urls":{"get":{"tags":["Stripe Configuration"],"summary":"Get Webhook URLs","description":"Get the webhook endpoint URLs to configure in your Stripe dashboard for test and live modes.","operationId":"get_webhook_urls_api_v1_payments_stripe_projects__project_id__webhook_urls_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Project Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StripeWebhookUrlsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/stripe/projects/{project_id}/validate-credentials":{"post":{"tags":["Stripe Configuration"],"summary":"Validate Stripe Credentials","description":"Validate Stripe API credentials by making a test API call to Stripe.","operationId":"validate_credentials_api_v1_payments_stripe_projects__project_id__validate_credentials_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Project Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateStripeCredentialsRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidateStripeCredentialsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/stripe/checkout-session":{"post":{"tags":["Stripe Checkout"],"summary":"Create Checkout Session","description":"Create a Stripe checkout session for subscription or one-time payment. Returns a URL to redirect the user to Stripe's hosted checkout page.","operationId":"create_checkout_session_api_v1_payments_stripe_checkout_session_post","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"test_mode","in":"query","required":false,"schema":{"type":"boolean","description":"Use test mode credentials","default":true,"title":"Test Mode"},"description":"Use test mode credentials"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StripeCheckoutRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StripeCheckoutResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/stripe/webhooks/{project_id}/{mode}":{"post":{"tags":["Stripe Webhooks"],"summary":"Handle Stripe Webhook","description":"Receive and process webhook events from Stripe. Configure this URL in your Stripe dashboard.","operationId":"stripe_webhook_api_v1_payments_stripe_webhooks__project_id___mode__post","parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Project Id"}},{"name":"mode","in":"path","required":true,"schema":{"type":"string","title":"Mode"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/stripe/projects/{project_id}/subscriptions":{"get":{"tags":["Stripe Configuration"],"summary":"List Project Subscriptions","description":"List all Stripe subscriptions for a specific project. Developer access required.","operationId":"list_subscriptions_api_v1_payments_stripe_projects__project_id__subscriptions_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Project Id"}},{"name":"test_mode","in":"query","required":false,"schema":{"type":"boolean","description":"Filter by test mode","default":true,"title":"Test Mode"},"description":"Filter by test mode"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":50,"title":"Page Size"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StripeSubscriptionListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/stripe/projects/{project_id}/payments":{"get":{"tags":["Stripe Configuration"],"summary":"List Project Payments","description":"List all Stripe payment transactions for a specific project. Developer access required.","operationId":"list_payments_api_v1_payments_stripe_projects__project_id__payments_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"project_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Project Id"}},{"name":"test_mode","in":"query","required":false,"schema":{"type":"boolean","description":"Filter by test mode","default":true,"title":"Test Mode"},"description":"Filter by test mode"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":50,"title":"Page Size"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StripePaymentListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/stripe/my-subscription":{"get":{"tags":["Stripe Subscriptions"],"summary":"Get My Subscription","description":"Get the current user's active Stripe subscription for the project.","operationId":"get_my_subscription_api_v1_payments_stripe_my_subscription_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"test_mode","in":"query","required":false,"schema":{"type":"boolean","description":"Use test mode","default":true,"title":"Test Mode"},"description":"Use test mode"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/StripeSubscriptionResponse"},{"type":"null"}],"title":"Response Get My Subscription Api V1 Payments Stripe My Subscription Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/stripe/my-payments":{"get":{"tags":["Stripe Subscriptions"],"summary":"Get My Payment History","description":"Get the current user's Stripe payment history for the project.","operationId":"get_my_payments_api_v1_payments_stripe_my_payments_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"test_mode","in":"query","required":false,"schema":{"type":"boolean","description":"Use test mode","default":true,"title":"Test Mode"},"description":"Use test mode"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":50,"title":"Page Size"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StripePaymentListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/stripe/customer-portal":{"post":{"tags":["Stripe Subscriptions"],"summary":"Create Customer Portal Session","description":"Create a Stripe Customer Portal session for the user to manage their subscription, payment methods, and billing details.","operationId":"create_customer_portal_api_v1_payments_stripe_customer_portal_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"test_mode","in":"query","required":false,"schema":{"type":"boolean","description":"Use test mode","default":true,"title":"Test Mode"},"description":"Use test mode"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPortalRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerPortalResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/stripe/cancel-subscription":{"post":{"tags":["Stripe Subscriptions"],"summary":"Cancel Subscription","description":"Cancel the user's active subscription. Can cancel immediately or at the end of the current billing period.","operationId":"cancel_subscription_api_v1_payments_stripe_cancel_subscription_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"test_mode","in":"query","required":false,"schema":{"type":"boolean","description":"Use test mode","default":true,"title":"Test Mode"},"description":"Use test mode"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelSubscriptionRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelSubscriptionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/stripe/update-subscription":{"post":{"tags":["Stripe Subscriptions"],"summary":"Update Subscription Plan","description":"Change the user's subscription to a different plan (upgrade or downgrade). Proration is applied by default.","operationId":"update_subscription_api_v1_payments_stripe_update_subscription_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"test_mode","in":"query","required":false,"schema":{"type":"boolean","description":"Use test mode","default":true,"title":"Test Mode"},"description":"Use test mode"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSubscriptionRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSubscriptionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/subscriptions":{"get":{"tags":["Payments"],"summary":"List All Subscriptions","description":"List all subscriptions across developer's projects with optional filtering by project, test mode, and status.","operationId":"list_all_subscriptions_api_v1_payments_subscriptions_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"description":"Filter by project","title":"Project Id"},"description":"Filter by project"},{"name":"test_mode","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by test mode","title":"Test Mode"},"description":"Filter by test mode"},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by status","title":"Status"},"description":"Filter by status"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":50,"title":"Page Size"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregatedSubscriptionListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/transactions":{"get":{"tags":["Payments"],"summary":"List All Transactions","description":"List all payment transactions across developer's projects with optional filtering by project, test mode, and status.","operationId":"list_all_payments_api_v1_payments_transactions_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"project_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"description":"Filter by project","title":"Project Id"},"description":"Filter by project"},{"name":"test_mode","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by test mode","title":"Test Mode"},"description":"Filter by test mode"},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by status","title":"Status"},"description":"Filter by status"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"default":1,"title":"Page"}},{"name":"page_size","in":"query","required":false,"schema":{"type":"integer","maximum":100,"minimum":1,"default":50,"title":"Page Size"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AggregatedPaymentListResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/payments/projects":{"get":{"tags":["Payments"],"summary":"List Projects Payment Config","description":"List all developer's projects with their payment configuration status including test/live credential availability.","operationId":"list_projects_payment_config_api_v1_payments_projects_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProjectPaymentConfigListResponse"}}}}},"security":[{"OAuth2PasswordBearer":[]}]}},"/api/v1/payments/stats":{"get":{"tags":["Payments"],"summary":"Get Payment Statistics","description":"Get aggregated payment statistics across all developer's projects including subscription counts, payment counts, and revenue.","operationId":"get_payment_stats_api_v1_payments_stats_get","security":[{"OAuth2PasswordBearer":[]}],"parameters":[{"name":"test_mode","in":"query","required":false,"schema":{"type":"boolean","description":"Include test mode data","default":true,"title":"Test Mode"},"description":"Include test mode data"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentStatsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/":{"get":{"tags":["Default"],"summary":"Root","description":"Root endpoint providing basic API information","operationId":"root__get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/health":{"get":{"tags":["Default"],"summary":"Health Check","description":"Basic health check endpoint - delegates to comprehensive health check\nFor backward compatibility, this provides a simple health status","operationId":"health_check_health_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}}},"components":{"schemas":{"AggregatedPaymentListResponse":{"properties":{"payments":{"items":{"$ref":"#/components/schemas/AggregatedPaymentResponse"},"type":"array","title":"Payments"},"total":{"type":"integer","title":"Total"},"page":{"type":"integer","title":"Page"},"page_size":{"type":"integer","title":"Page Size"}},"type":"object","required":["payments","total","page","page_size"],"title":"AggregatedPaymentListResponse","description":"Paginated list of payments across projects."},"AggregatedPaymentResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"project_id":{"type":"string","format":"uuid","title":"Project Id"},"project_name":{"type":"string","title":"Project Name"},"provider":{"type":"string","title":"Provider","default":"stripe"},"subscription_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Subscription Id"},"user_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"User Id"},"is_test_mode":{"type":"boolean","title":"Is Test Mode"},"payment_intent_id":{"type":"string","title":"Payment Intent Id"},"status":{"type":"string","title":"Status"},"amount_cents":{"type":"integer","title":"Amount Cents"},"currency":{"type":"string","title":"Currency"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"refunded_amount_cents":{"type":"integer","title":"Refunded Amount Cents","default":0},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["id","project_id","project_name","is_test_mode","payment_intent_id","status","amount_cents","currency","created_at"],"title":"AggregatedPaymentResponse","description":"Payment with project info and provider."},"AggregatedSubscriptionListResponse":{"properties":{"subscriptions":{"items":{"$ref":"#/components/schemas/AggregatedSubscriptionResponse"},"type":"array","title":"Subscriptions"},"total":{"type":"integer","title":"Total"},"page":{"type":"integer","title":"Page"},"page_size":{"type":"integer","title":"Page Size"}},"type":"object","required":["subscriptions","total","page","page_size"],"title":"AggregatedSubscriptionListResponse","description":"Paginated list of subscriptions across projects."},"AggregatedSubscriptionResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"project_id":{"type":"string","format":"uuid","title":"Project Id"},"project_name":{"type":"string","title":"Project Name"},"provider":{"type":"string","title":"Provider","default":"stripe"},"user_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"User Id"},"is_test_mode":{"type":"boolean","title":"Is Test Mode"},"subscription_id":{"type":"string","title":"Subscription Id"},"customer_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Customer Id"},"status":{"type":"string","title":"Status"},"plan_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Plan Name"},"quantity":{"type":"integer","title":"Quantity"},"current_period_start":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Current Period Start"},"current_period_end":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Current Period End"},"cancel_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Cancel At"},"cancelled_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Cancelled At"},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["id","project_id","project_name","is_test_mode","subscription_id","status","quantity","created_at"],"title":"AggregatedSubscriptionResponse","description":"Subscription with project info and provider."},"ApiKeyCreateRequest":{"properties":{"name":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Name"}},"type":"object","title":"ApiKeyCreateRequest"},"ApiKeyCreatedResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"key":{"type":"string","title":"Key"},"key_prefix":{"type":"string","title":"Key Prefix"},"is_active":{"type":"boolean","title":"Is Active"},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["id","name","key","key_prefix","is_active","created_at"],"title":"ApiKeyCreatedResponse"},"ApiKeyResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"key_prefix":{"type":"string","title":"Key Prefix"},"is_active":{"type":"boolean","title":"Is Active"},"last_used_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Used At"},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["id","name","key_prefix","is_active","last_used_at","created_at"],"title":"ApiKeyResponse"},"Body_create_anonymous_generation_v2_api_v1_generation_generate_anonymous_v2_post":{"properties":{"instructions":{"type":"string","title":"Instructions"},"files":{"items":{"type":"string","format":"binary"},"type":"array","title":"Files"}},"type":"object","required":["instructions","files"],"title":"Body_create_anonymous_generation_v2_api_v1_generation_generate_anonymous_v2_post"},"Body_create_generation_v2_api_v1_generation_generate_v2_post":{"properties":{"instructions":{"type":"string","title":"Instructions"},"files":{"items":{"type":"string","format":"binary"},"type":"array","title":"Files"}},"type":"object","required":["instructions","files"],"title":"Body_create_generation_v2_api_v1_generation_generate_v2_post"},"Body_toggle_generation_public_v2_api_v1_generation_generations_v2__generation_id__public_patch":{"properties":{"is_public":{"type":"boolean","title":"Is Public"}},"type":"object","required":["is_public"],"title":"Body_toggle_generation_public_v2_api_v1_generation_generations_v2__generation_id__public_patch"},"CancelSubscriptionRequest":{"properties":{"cancel_immediately":{"type":"boolean","title":"Cancel Immediately","description":"If true, cancels immediately. Otherwise cancels at period end.","default":false}},"type":"object","title":"CancelSubscriptionRequest","description":"Request to cancel a subscription."},"CancelSubscriptionResponse":{"properties":{"subscription_id":{"type":"string","title":"Subscription Id"},"status":{"type":"string","title":"Status"},"cancel_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Cancel At"},"cancelled_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Cancelled At"},"message":{"type":"string","title":"Message"}},"type":"object","required":["subscription_id","status","message"],"title":"CancelSubscriptionResponse","description":"Cancel subscription response."},"CountStats":{"properties":{"total":{"type":"integer","title":"Total"},"active":{"type":"integer","title":"Active"}},"type":"object","required":["total","active"],"title":"CountStats","description":"Nested count statistics"},"CustomerPortalRequest":{"properties":{"return_url":{"type":"string","minLength":1,"title":"Return Url"}},"type":"object","required":["return_url"],"title":"CustomerPortalRequest","description":"Request to create a customer portal session."},"CustomerPortalResponse":{"properties":{"portal_url":{"type":"string","title":"Portal Url"}},"type":"object","required":["portal_url"],"title":"CustomerPortalResponse","description":"Customer portal session response."},"DatabaseHealthResponse":{"properties":{"status":{"type":"string","title":"Status"},"version":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Version"},"connection":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Connection"},"error":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error"},"timestamp":{"type":"string","title":"Timestamp"}},"type":"object","required":["status","timestamp"],"title":"DatabaseHealthResponse"},"DetailedHealthCheckResponse":{"properties":{"status":{"type":"string","title":"Status"},"database":{"additionalProperties":true,"type":"object","title":"Database"},"file_storage":{"additionalProperties":true,"type":"object","title":"File Storage"},"redis":{"additionalProperties":true,"type":"object","title":"Redis"},"system":{"additionalProperties":true,"type":"object","title":"System"},"timestamp":{"type":"string","title":"Timestamp"},"version":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Version"}},"type":"object","required":["status","database","file_storage","redis","system","timestamp"],"title":"DetailedHealthCheckResponse"},"DeveloperKeyCreateRequest":{"properties":{"name":{"anyOf":[{"type":"string","maxLength":255},{"type":"null"}],"title":"Name"}},"type":"object","title":"DeveloperKeyCreateRequest","description":"Request payload for creating a new developer key"},"DeveloperKeyCreatedResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"key":{"type":"string","title":"Key"},"key_prefix":{"type":"string","title":"Key Prefix"},"is_active":{"type":"boolean","title":"Is Active"},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["id","name","key","key_prefix","is_active","created_at"],"title":"DeveloperKeyCreatedResponse","description":"Response payload for newly created developer key (includes full key)"},"DeveloperKeyResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"key_prefix":{"type":"string","title":"Key Prefix"},"is_active":{"type":"boolean","title":"Is Active"},"last_used_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Used At"},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["id","name","key_prefix","is_active","last_used_at","created_at"],"title":"DeveloperKeyResponse","description":"Response payload for developer key (without full key)"},"DeveloperUserResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"email":{"type":"string","title":"Email"},"full_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Full Name"},"is_active":{"type":"boolean","title":"Is Active"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"joined_at":{"type":"string","format":"date-time","title":"Joined At"},"project_id":{"type":"string","format":"uuid","title":"Project Id"},"project_name":{"type":"string","title":"Project Name"}},"type":"object","required":["id","email","full_name","is_active","created_at","joined_at","project_id","project_name"],"title":"DeveloperUserResponse"},"DeveloperUsersListResponse":{"properties":{"users":{"items":{"$ref":"#/components/schemas/DeveloperUserResponse"},"type":"array","title":"Users"},"total":{"type":"integer","title":"Total"},"page":{"type":"integer","title":"Page"},"page_size":{"type":"integer","title":"Page Size"}},"type":"object","required":["users","total","page","page_size"],"title":"DeveloperUsersListResponse"},"GenerationCreateResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"message":{"type":"string","title":"Message","default":"Generation request submitted successfully"}},"type":"object","required":["id"],"title":"GenerationCreateResponse"},"GenerationListResponse":{"properties":{"generations":{"items":{"$ref":"#/components/schemas/GenerationResponse"},"type":"array","title":"Generations"},"total":{"type":"integer","minimum":0.0,"title":"Total"},"page":{"type":"integer","minimum":1.0,"title":"Page"},"per_page":{"type":"integer","maximum":100.0,"minimum":1.0,"title":"Per Page"}},"type":"object","required":["generations","total","page","per_page"],"title":"GenerationListResponse"},"GenerationResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"instructions":{"type":"string","title":"Instructions"},"status":{"type":"string","title":"Status"},"generated_image_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Generated Image Url"},"is_public":{"type":"boolean","title":"Is Public"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At"},"example_images":{"items":{"type":"string"},"type":"array","title":"Example Images","default":[]}},"type":"object","required":["id","instructions","status","is_public","created_at"],"title":"GenerationResponse"},"GenerationStatusResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"status":{"type":"string","title":"Status","description":"Generation status: pending, processing, completed, failed"},"generated_image_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Generated Image Url"}},"type":"object","required":["id","status"],"title":"GenerationStatusResponse"},"GlobalStatsResponse":{"properties":{"projects":{"$ref":"#/components/schemas/CountStats"},"users":{"$ref":"#/components/schemas/CountStats"},"api_keys":{"$ref":"#/components/schemas/CountStats"}},"type":"object","required":["projects","users","api_keys"],"title":"GlobalStatsResponse","description":"Global statistics for all developer's projects"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"HealthCheckResponse":{"properties":{"status":{"type":"string","title":"Status"},"database":{"additionalProperties":true,"type":"object","title":"Database"},"file_storage":{"additionalProperties":true,"type":"object","title":"File Storage"},"redis":{"additionalProperties":true,"type":"object","title":"Redis"},"timestamp":{"type":"string","title":"Timestamp"},"version":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Version"},"note":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Note"},"error":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error"}},"type":"object","required":["status","database","file_storage","redis","timestamp"],"title":"HealthCheckResponse"},"PaymentStatsResponse":{"properties":{"total_projects":{"type":"integer","title":"Total Projects"},"projects_with_config":{"type":"integer","title":"Projects With Config"},"projects_with_test":{"type":"integer","title":"Projects With Test"},"projects_with_live":{"type":"integer","title":"Projects With Live"},"total_subscriptions":{"type":"integer","title":"Total Subscriptions"},"active_subscriptions":{"type":"integer","title":"Active Subscriptions"},"total_payments":{"type":"integer","title":"Total Payments"},"successful_payments":{"type":"integer","title":"Successful Payments"},"total_revenue_cents":{"type":"integer","title":"Total Revenue Cents"},"currency":{"type":"string","title":"Currency","default":"usd"}},"type":"object","required":["total_projects","projects_with_config","projects_with_test","projects_with_live","total_subscriptions","active_subscriptions","total_payments","successful_payments","total_revenue_cents"],"title":"PaymentStatsResponse","description":"Aggregated payment statistics."},"ProjectCreateRequest":{"properties":{"name":{"type":"string","maxLength":255,"minLength":1,"title":"Name"},"description":{"anyOf":[{"type":"string","maxLength":1000},{"type":"null"}],"title":"Description"}},"type":"object","required":["name"],"title":"ProjectCreateRequest"},"ProjectCreatedResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"}},"type":"object","required":["id"],"title":"ProjectCreatedResponse"},"ProjectPaymentConfigListResponse":{"properties":{"projects":{"items":{"$ref":"#/components/schemas/ProjectPaymentConfigResponse"},"type":"array","title":"Projects"},"total":{"type":"integer","title":"Total"}},"type":"object","required":["projects","total"],"title":"ProjectPaymentConfigListResponse","description":"List of projects with payment config status."},"ProjectPaymentConfigResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"has_payment_config":{"type":"boolean","title":"Has Payment Config"},"has_test_credentials":{"type":"boolean","title":"Has Test Credentials"},"has_live_credentials":{"type":"boolean","title":"Has Live Credentials"},"test_configured_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Test Configured At"},"live_configured_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Live Configured At"},"is_active":{"type":"boolean","title":"Is Active"},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["id","name","has_payment_config","has_test_credentials","has_live_credentials","is_active","created_at"],"title":"ProjectPaymentConfigResponse","description":"Project with payment configuration status."},"ProjectResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"is_active":{"type":"boolean","title":"Is Active"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At"}},"type":"object","required":["id","name","description","is_active","created_at","updated_at"],"title":"ProjectResponse"},"ProjectStatsResponse":{"properties":{"users":{"$ref":"#/components/schemas/CountStats"},"api_keys":{"$ref":"#/components/schemas/CountStats"}},"type":"object","required":["users","api_keys"],"title":"ProjectStatsResponse","description":"Statistics for a specific project"},"ProjectUpdateRequest":{"properties":{"name":{"anyOf":[{"type":"string","maxLength":255,"minLength":1},{"type":"null"}],"title":"Name"},"description":{"anyOf":[{"type":"string","maxLength":1000},{"type":"null"}],"title":"Description"}},"type":"object","title":"ProjectUpdateRequest","description":"Request payload for updating a project"},"ProjectUserResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"email":{"type":"string","title":"Email"},"full_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Full Name"},"is_active":{"type":"boolean","title":"Is Active"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"joined_at":{"type":"string","format":"date-time","title":"Joined At"}},"type":"object","required":["id","email","full_name","is_active","created_at","joined_at"],"title":"ProjectUserResponse"},"ProjectUsersListResponse":{"properties":{"users":{"items":{"$ref":"#/components/schemas/ProjectUserResponse"},"type":"array","title":"Users"},"total":{"type":"integer","title":"Total"},"page":{"type":"integer","title":"Page"},"page_size":{"type":"integer","title":"Page Size"}},"type":"object","required":["users","total","page","page_size"],"title":"ProjectUsersListResponse"},"ProvisioningData":{"properties":{"project_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Project Id"},"api_key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Api Key"},"developer_key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Developer Key"}},"type":"object","title":"ProvisioningData","description":"Provisioning data for developers (one-time response)"},"RedisHealthResponse":{"properties":{"status":{"type":"string","title":"Status"},"type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Type"},"listening":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Listening"},"subscribers":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Subscribers"},"connection_failed":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Connection Failed"},"last_connection_attempt":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Last Connection Attempt"},"error":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error"},"timestamp":{"type":"string","title":"Timestamp"}},"type":"object","required":["status","timestamp"],"title":"RedisHealthResponse"},"RefreshRequest":{"properties":{"refresh_token":{"type":"string","title":"Refresh Token"}},"type":"object","required":["refresh_token"],"title":"RefreshRequest"},"RegistrationResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"email":{"type":"string","title":"Email"},"full_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Full Name"},"role":{"type":"string","title":"Role"},"is_active":{"type":"boolean","title":"Is Active"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"project_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Project Id"},"provisioning":{"anyOf":[{"$ref":"#/components/schemas/ProvisioningData"},{"type":"null"}]},"access_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Access Token"},"refresh_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Refresh Token"},"token_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Token Type","default":"bearer"}},"type":"object","required":["id","email","role","is_active","created_at"],"title":"RegistrationResponse","description":"Enhanced registration response with role and provisioning data"},"StorageHealthResponse":{"properties":{"status":{"type":"string","title":"Status"},"type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Type"},"path":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Path"},"url_prefix":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url Prefix"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"writable":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Writable"},"accessible":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Accessible"},"url_configured":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Url Configured"},"key_configured":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Key Configured"},"error":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error"},"timestamp":{"type":"string","title":"Timestamp"}},"type":"object","required":["status","timestamp"],"title":"StorageHealthResponse"},"StripeCheckoutRequest":{"properties":{"price_id":{"type":"string","minLength":1,"title":"Price Id"},"success_url":{"type":"string","minLength":1,"title":"Success Url"},"cancel_url":{"type":"string","minLength":1,"title":"Cancel Url"},"mode":{"type":"string","pattern":"^(subscription|payment)$","title":"Mode","default":"subscription"},"quantity":{"type":"integer","minimum":1.0,"title":"Quantity","default":1},"metadata":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Metadata"},"allow_existing_subscription":{"type":"boolean","title":"Allow Existing Subscription","description":"If true, allows checkout even if user has active subscription","default":false}},"type":"object","required":["price_id","success_url","cancel_url"],"title":"StripeCheckoutRequest","description":"Request to create a Stripe checkout session."},"StripeCheckoutResponse":{"properties":{"session_id":{"type":"string","title":"Session Id"},"checkout_url":{"type":"string","title":"Checkout Url"}},"type":"object","required":["session_id","checkout_url"],"title":"StripeCheckoutResponse","description":"Stripe checkout session response."},"StripeConfigRequest":{"properties":{"test_secret_key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Test Secret Key"},"test_publishable_key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Test Publishable Key"},"test_webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Test Webhook Secret"},"live_secret_key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Live Secret Key"},"live_publishable_key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Live Publishable Key"},"live_webhook_secret":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Live Webhook Secret"}},"type":"object","title":"StripeConfigRequest","description":"Request to create/update Stripe configuration."},"StripeConfigResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"project_id":{"type":"string","format":"uuid","title":"Project Id"},"is_active":{"type":"boolean","title":"Is Active"},"has_test_credentials":{"type":"boolean","title":"Has Test Credentials"},"has_live_credentials":{"type":"boolean","title":"Has Live Credentials"},"test_secret_key_masked":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Test Secret Key Masked"},"test_publishable_key_masked":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Test Publishable Key Masked"},"test_webhook_secret_masked":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Test Webhook Secret Masked"},"live_secret_key_masked":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Live Secret Key Masked"},"live_publishable_key_masked":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Live Publishable Key Masked"},"live_webhook_secret_masked":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Live Webhook Secret Masked"},"test_configured_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Test Configured At"},"live_configured_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Live Configured At"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At"}},"type":"object","required":["id","project_id","is_active","has_test_credentials","has_live_credentials","created_at"],"title":"StripeConfigResponse","description":"Stripe configuration response with masked credentials."},"StripePaymentListResponse":{"properties":{"payments":{"items":{"$ref":"#/components/schemas/StripePaymentResponse"},"type":"array","title":"Payments"},"total":{"type":"integer","title":"Total"},"page":{"type":"integer","title":"Page"},"page_size":{"type":"integer","title":"Page Size"}},"type":"object","required":["payments","total","page","page_size"],"title":"StripePaymentListResponse","description":"Paginated list of Stripe payments."},"StripePaymentResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"project_id":{"type":"string","format":"uuid","title":"Project Id"},"subscription_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Subscription Id"},"user_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"User Id"},"is_test_mode":{"type":"boolean","title":"Is Test Mode"},"payment_intent_id":{"type":"string","title":"Payment Intent Id"},"status":{"type":"string","title":"Status"},"amount_cents":{"type":"integer","title":"Amount Cents"},"currency":{"type":"string","title":"Currency"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"refunded_amount_cents":{"type":"integer","title":"Refunded Amount Cents","default":0},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["id","project_id","is_test_mode","payment_intent_id","status","amount_cents","currency","created_at"],"title":"StripePaymentResponse","description":"Stripe payment details."},"StripeSubscriptionListResponse":{"properties":{"subscriptions":{"items":{"$ref":"#/components/schemas/StripeSubscriptionResponse"},"type":"array","title":"Subscriptions"},"total":{"type":"integer","title":"Total"},"page":{"type":"integer","title":"Page"},"page_size":{"type":"integer","title":"Page Size"}},"type":"object","required":["subscriptions","total","page","page_size"],"title":"StripeSubscriptionListResponse","description":"Paginated list of Stripe subscriptions."},"StripeSubscriptionResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"project_id":{"type":"string","format":"uuid","title":"Project Id"},"user_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"User Id"},"is_test_mode":{"type":"boolean","title":"Is Test Mode"},"subscription_id":{"type":"string","title":"Subscription Id"},"customer_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Customer Id"},"status":{"type":"string","title":"Status"},"plan_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Plan Name"},"quantity":{"type":"integer","title":"Quantity"},"current_period_start":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Current Period Start"},"current_period_end":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Current Period End"},"cancel_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Cancel At"},"cancelled_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Cancelled At"},"created_at":{"type":"string","format":"date-time","title":"Created At"}},"type":"object","required":["id","project_id","is_test_mode","subscription_id","status","quantity","created_at"],"title":"StripeSubscriptionResponse","description":"Stripe subscription details."},"StripeWebhookUrlsResponse":{"properties":{"test_webhook_url":{"type":"string","title":"Test Webhook Url"},"live_webhook_url":{"type":"string","title":"Live Webhook Url"}},"type":"object","required":["test_webhook_url","live_webhook_url"],"title":"StripeWebhookUrlsResponse","description":"Stripe webhook URLs for a project."},"TokenResponse":{"properties":{"access_token":{"type":"string","title":"Access Token"},"refresh_token":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Refresh Token"},"token_type":{"type":"string","title":"Token Type"}},"type":"object","required":["access_token","token_type"],"title":"TokenResponse"},"UpdateSubscriptionRequest":{"properties":{"new_price_id":{"type":"string","minLength":1,"title":"New Price Id"},"proration_behavior":{"type":"string","pattern":"^(create_prorations|none|always_invoice)$","title":"Proration Behavior","default":"create_prorations"}},"type":"object","required":["new_price_id"],"title":"UpdateSubscriptionRequest","description":"Request to update/change subscription plan."},"UpdateSubscriptionResponse":{"properties":{"subscription_id":{"type":"string","title":"Subscription Id"},"status":{"type":"string","title":"Status"},"price_id":{"type":"string","title":"Price Id"},"message":{"type":"string","title":"Message"}},"type":"object","required":["subscription_id","status","price_id","message"],"title":"UpdateSubscriptionResponse","description":"Update subscription response."},"UserCreateRequest":{"properties":{"email":{"type":"string","format":"email","title":"Email"},"password":{"type":"string","minLength":8,"title":"Password","description":"Password must be at least 8 characters long"},"full_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Full Name"}},"type":"object","required":["email","password"],"title":"UserCreateRequest"},"UserLoginRequest":{"properties":{"email":{"type":"string","format":"email","title":"Email"},"password":{"type":"string","title":"Password"}},"type":"object","required":["email","password"],"title":"UserLoginRequest"},"UserResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"email":{"type":"string","title":"Email"},"full_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Full Name"},"role":{"type":"string","title":"Role"},"is_active":{"type":"boolean","title":"Is Active"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"project_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Project Id"}},"type":"object","required":["id","email","role","is_active","created_at"],"title":"UserResponse"},"ValidateStripeCredentialsRequest":{"properties":{"secret_key":{"type":"string","minLength":1,"title":"Secret Key"},"is_test_mode":{"type":"boolean","title":"Is Test Mode","default":true}},"type":"object","required":["secret_key"],"title":"ValidateStripeCredentialsRequest","description":"Request to validate Stripe credentials."},"ValidateStripeCredentialsResponse":{"properties":{"valid":{"type":"boolean","title":"Valid"},"message":{"type":"string","title":"Message"}},"type":"object","required":["valid","message"],"title":"ValidateStripeCredentialsResponse","description":"Validation result for Stripe credentials."},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"VerifyEmailRequest":{"properties":{"user_id":{"type":"string","format":"uuid","title":"User Id"},"verification_token":{"type":"string","title":"Verification Token"}},"type":"object","required":["user_id","verification_token"],"title":"VerifyEmailRequest"}},"securitySchemes":{"OAuth2PasswordBearer":{"type":"oauth2","flows":{"password":{"scopes":{},"tokenUrl":"auth/login"}}},"HTTPBearer":{"type":"http","scheme":"bearer"}}}}